---
import { get } from "node-emoji";

interface Props {
  src?: string;
  name?: string;
  alt?: string;
  size?: string;
}

const { src, name, alt = "", size = "1.2em" } = Astro.props;

let emojiChar = "";
let showImg = false;

if (src) {
  showImg = true;
} else if (name) {
  emojiChar = get(name) ?? "";
  if (!emojiChar) {
    console.warn(`Unknown emoji shortcode: ${name}`);
  }
} else {
  console.warn("Emoji: provide either src (for Discord emoji) or name (for standard emoji shortcode)");
}
---

{showImg && (
  <span class="emoji-wrapper">
    <img src={src} alt={alt} class="emoji-img" style={`height: ${size};`} />
  </span>
)}

{emojiChar && (
  <span class="emoji-wrapper emoji-native" role="img" aria-label={alt || name}>
    {emojiChar}
  </span>
)}

<style>
  .emoji-wrapper {
    display: inline-flex;
    align-items: center;
    height: 1em;
    vertical-align: middle;
    position: relative;
  }

  .emoji-img {
    height: 1.2em;
    width: auto;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top: -0.1em;
  }

  .emoji-native {
    font-size: 1.2em;
    line-height: 1;
    position: relative;
    top: -0.1em;
  }
</style>
